In [1]:
#import libraries
import pandas as pd
import numpy as np

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [4]:
#read the data file
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
#check the data 
concrete_data.shape  #number of rows and columns

(1030, 9)

In [7]:
concrete_data.describe() #some values about the data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [9]:
#split the data into target strength and predictors
concrete_data_columns = concrete_data.columns

In [10]:
target = concrete_data['Strength']
target.head(10)

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
5    47.03
6    43.70
7    36.45
8    45.85
9    39.29
Name: Strength, dtype: float64

In [11]:
predictors = concrete_data.iloc[:, :-1]
predictors.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28

In [12]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
5,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,0.701883
6,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
7,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597
8,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,-0.279597
9,1.854740,-0.856472,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597

In [13]:
n_cols = predictors_norm.shape[1]
def regression_model4():
    #create model4
    #Three hidden layers
    model4 = Sequential()
    model4.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model4.add(Dense(10, activation='relu'))
    model4.add(Dense(10, activation='relu'))
    model4.add(Dense(1))
    model4.compile(optimizer='adam', loss='mean_squared_error')
    return model4
#build the model
model4 = regression_model4()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
mean_squared_error = [] #list of the mean squared errors
for i in range(50):
      #load data --> 0.3 for testing
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    
    res = model4.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
   
    error = res.history['val_loss'][-1]
    
    mean_squared_error.append(error)
    print('Step {}: mean squared error--> {}'.format(i+1, error))
    
#The mean and the standard deviation of the mean squared errors in case D is less than in case A, B and C.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

2022-03-22 12:35:29.616816: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2022-03-22 12:35:29.623146: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2095145000 Hz
2022-03-22 12:35:29.624041: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55f553a46a10 executing computations on platform Host. Devices:
2022-03-22 12:35:29.624110: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-03-22 12:35:29.781333: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

Step 1: mean squared error--> 132.5156681097827
Step 2: mean squared error--> 103.18692791886315
Step 3: mean squared error--> 49.755990358618085
Step 4: mean squared error--> 46.75411893480418
Step 5: mean squared error--> 41.142310182639314
Step 6: mean squared error--> 36.801506758507784
Step 7: mean squared error--> 29.046467481693405
Step 8: mean squared error--> 32.49756223561309
Step 9: mean squared error--> 31.839213300291387
Step 10: mean squared error--> 33.07507774822149
Step 11: mean squared error--> 25.33936917203144
Step 12: mean squared error--> 28.641750261621567
Step 13: mean squared error--> 23.414573749678034
Step 14: mean squared error--> 22.60989304576491
Step 15: mean squared error--> 26.211211374276665
Step 16: mean squared error--> 25.420315591262767
Step 17: mean squared error--> 27.12886507842919
Step 18: mean squared error--> 23.118111175240823
Step 19: mean squared error--> 23.613028838024942
Step 20: mean squared error--> 22.01089149771385
Step 21: mean squared error--> 28.409005989148778
Step 22: mean squared error--> 23.540195489778487
Step 23: mean squared error--> 21.81294418384342
Step 24: mean squared error--> 21.465118840288575
Step 25: mean squared error--> 23.876767988729632
Step 26: mean squared error--> 19.668479083039614
Step 27: mean squared error--> 20.64982638312775
Step 28: mean squared error--> 20.194493722761333
Step 29: mean squared error--> 24.6584279452327
Step 30: mean squared error--> 21.797702202904958
Step 31: mean squared error--> 24.991945041421932
Step 32: mean squared error--> 21.547667099048404
Step 33: mean squared error--> 20.99454847045701
Step 34: mean squared error--> 23.785512856295195
Step 35: mean squared error--> 17.784444963276194
Step 36: mean squared error--> 22.777879066837645
Step 37: mean squared error--> 19.795219276329462
Step 38: mean squared error--> 20.630265578482916
Step 39: mean squared error--> 20.864497684738012
Step 40: mean squared error--> 21.448584726327447
Step 41: mean squared error--> 20.506306855038147
Step 42: mean squared error--> 17.54540322436484
Step 43: mean squared error--> 20.172132868597036
Step 44: mean squared error--> 18.104680428612966
Step 45: mean squared error--> 20.282234080786843
Step 46: mean squared error--> 21.69739728915267
Step 47: mean squared error--> 18.391062622317218
Step 48: mean squared error--> 23.73219220306495
Step 49: mean squared error--> 22.75284991835313
Step 50: mean squared error--> 20.77286495282812

In [16]:
print('The mean of the mean squared errors: {}'.format(np.mean(mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(mean_squared_error)))

The mean of the mean squared errors: 28.575470076965285
The standard deviation of the mean squared errors: 19.63421463980392