<h2>Iris flowers Classification with Decision Tree Algorithm</h2>

Name: Peter Bisimbeko

Registration Number: SEP21/COMP/903U

Email: peter.bisimbeko@student.utamu.ac.ug

Tel: 0704985025 | 0773064845

Date: 28-Nov-2021

In [7]:
#importing neccessary packages for data analysis
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split #replace cross_validation to model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [8]:
#loading data file
fullFileName = 'C:/Users/WCS/Google Drive/UTAMU/Machine_learning_y1s1/iris.csv'
flower_data = pd.read_csv('iris.csv',sep= ',', header= 0)

In [9]:
print ("Dataset Lenght:: ", len(flower_data))
print ("Dataset Shape:: ", flower_data.shape)

Dataset Lenght::  100
Dataset Shape::  (100, 5)

In [10]:
print ("Dataset:: ")
flower_data.head()

Dataset::

    class  sepalLength  sepalWidth  petalLength  petalWidth
0  setosa          5.1         3.5          1.4         0.2
1  setosa          4.9         3.0          1.4         0.2
2  setosa          4.7         3.2          1.3         0.2
3  setosa          4.6         3.1          1.5         0.2
4  setosa          5.0         3.6          1.4         0.2

In [11]:
flower_data.tail()

        class  sepalLength  sepalWidth  petalLength  petalWidth
95  virginica          7.2         3.0          5.8         1.6
96  virginica          7.4         2.8          6.1         1.9
97  virginica          7.9         3.8          6.4         2.0
98  virginica          6.4         2.8          5.6         2.2
99  virginica          6.3         2.8          5.1         1.5

In [12]:
#Remove independent variables
X =flower_data[["sepalLength","sepalWidth","petalLength", "petalWidth"]].values
X[1:5]

array([[4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [13]:
y =flower_data["class"]
y[0:100]

0        setosa
1        setosa
2        setosa
3        setosa
4        setosa
        ...
95    virginica
96    virginica
97    virginica
98    virginica
99    virginica
Name: class, Length: 100, dtype: object

In [14]:
#Seperating the Target variable
X = flower_data.values[:, 1:5]
Y = flower_data.values[:,0]

<b>Setting up the DT<b>

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
#Spliting Dataset into Test and Train
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

<b>Modeling</b>

In [17]:
#Function to perform training with Entropy
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
 max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

<b>Predictions</b>

In [18]:
#Function to make predictions
y_pred = clf_entropy.predict(X_test)
y_pred
print(y_pred)

['versicolor' 'versicolor' 'setosa' 'versicolor' 'versicolor' 'setosa'
 'versicolor' 'versicolor' 'virginica' 'setosa' 'versicolor' 'versicolor'
 'virginica' 'virginica' 'virginica' 'virginica' 'versicolor' 'setosa'
 'versicolor' 'setosa' 'setosa' 'virginica' 'virginica' 'versicolor'
 'setosa' 'setosa' 'setosa' 'virginica' 'virginica' 'setosa']

In [19]:
#Checking the accuracy 
print ("Accuracy is ", accuracy_score(y_test,y_pred)*100, "%")

Accuracy is  93.33333333333333 %

#Conclusion

Hence, Decision Tree algorithm is recommended for the Iris flowers classiffication because of it's hight accuracy.