STUDENT NAME: Peter Bisimbeko

STUDENT NO : SEP21/COMP/903U

Machine Learning Exam

In [1]:
from platform import python_version

print(python_version())

3.8.5

Question: One
Deploy any methodology you studied in data mining class to:
(Hint: Submit the screen shot of your codes where necessary).
	(a) Produce the first five and the last 8 records in the data frame. (6 marks)
	(b) Identify the numbers of the missing records. ( 4 marks)
	(c) Replace the missing records by the mean value where necessary.(4 marks)
	(d) Prepare the data set to a format ready for analysis and visualization. (4 marks)
	(e)Using Simple linear regression to predict the cumulative deaths total based on cumulative cases reported, determine the:
        (i) intercept(3 marks)
        (ii) Slope (3 marks)
        (ii) Simple linear regression model in the form of:Y = mX +C , where Y isdependent feature, X is independent variable, m is the slope and C is the intercept. (3 marks)
	(f)Evaluate the modelby computing:
        (i)Mean absolute error.(3 marks)
        (ii)Residual sum of squares of the simple linear regression.(3 marks)
        (iii)R-squared for the model.(3 marks)
	(g)What is your conclusion based on simple linear regression model? (4 marks)

(a) Produce the first five and the last 8 records in the data frame. (6 marks)

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [28]:
# display the first five records in the data frame
covid19_df = pd.read_csv('WHO-COVID-19-global-data.csv')
print("The first five records of the Dataframe :")
covid19_df.head(5)

The first five records of the Dataframe :

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [29]:
# display the first five records in the data frame
covid19_df = pd.read_csv('WHO-COVID-19-global-data.csv')
print("The last Eight records of the Dataframe :")
covid19_df.tail(8)

The last Eight records of the Dataframe :

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
167314,2021-12-01,ZW,Zimbabwe,AFRO,426,134652,1,4707
167315,2021-12-02,ZW,Zimbabwe,AFRO,685,135337,0,4707
167316,2021-12-03,ZW,Zimbabwe,AFRO,1042,136379,0,4707
167317,2021-12-04,ZW,Zimbabwe,AFRO,1062,137441,1,4708
167318,2021-12-05,ZW,Zimbabwe,AFRO,1082,138523,1,4709
167319,2021-12-06,ZW,Zimbabwe,AFRO,523,139046,1,4710
167320,2021-12-07,ZW,Zimbabwe,AFRO,0,139046,0,4710
167321,2021-12-08,ZW,Zimbabwe,AFRO,6586,145632,8,4718

(b) Identify the numbers of the missing records. ( 4 marks)

In [30]:
# num_vars will hold columns which are not object datatype
covid19_df.isnull()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
167317,False,False,False,False,False,False,False,False
167318,False,False,False,False,False,False,False,False
167319,False,False,False,False,False,False,False,False
167320,False,False,False,False,False,False,False,False
167321,False,False,False,False,False,False,False,False

In [ ]:
print covid19_df['New_cases','Cumulative_cases', 'New_deaths', 'Cumulative_deaths']
print covid19_df['New_cases','Cumulative_cases', 'New_deaths', 'Cumulative_deaths'].isnull()

In [ ]:
no_data = [0]
covid19_df = pd.read_csv('WHO-COVID-19-global-data.csv', no_data)

Question Two
Use Decision Trees Classifier to model the data set classifying and evaluation of classes of iris by:
(Hint: Submit the screen shot of your codes where necessary).

a)	Generating the decision trees figure(8 marks)

b)	Evaluate the decision Trees classifier using Jaccard index, F1- scores, and log loss metrics (12 marks)

c)	Explain the results shown in the decision trees algorithm. (4 marks)

In [35]:
# a)	Generating the decision trees figure(8 marks)
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [36]:
df = pd.read_csv("iris.csv")
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth   class
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [37]:
df.tail()

    sepalLength  sepalWidth  petalLength  petalWidth      class
95          7.2         3.0          5.8         1.6  virginica
96          7.4         2.8          6.1         1.9  virginica
97          7.9         3.8          6.4         2.0  virginica
98          6.4         2.8          5.6         2.2  virginica
99          6.3         2.8          5.1         1.5  virginica

In [38]:
df.shape

(100, 5)

In [84]:
#Remove independent variables
X =df[["sepalLength","sepalWidth","petalLength", "petalWidth"]].values
X[1:5]

array([[4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [85]:
# dependent features
y =df["class"]
y[0:5]

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: class, dtype: object

In [86]:
# Decision Tree setup

from sklearn.model_selection import train_test_split

In [87]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y,test_size=0.3, random_state=3)

In [88]:
# Decision treee Model

irisTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
irisTree

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [89]:
irisTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [90]:
# Running the predictions
predTree =irisTree.predict(X_trainset)

In [91]:
print(predTree [0:5])
print(y_trainset [0:5])

['setosa' 'setosa' 'setosa' 'setosa' 'virginica']
30       setosa
5        setosa
13       setosa
31       setosa
88    virginica
Name: class, dtype: object

In [92]:
#Decision Tree Evaluation
from sklearn import metrics

In [93]:
#!pip uninstall scikit-learn

In [94]:
from io import StringIO
import pydotplus
import matplotlib.image as mpimg
from sklearn import tree
%matplotlib inline

In [95]:
dot_data = StringIO()
filename = "iristree.png"
featureNames = df.columns[0:5]
targetNames = df["class"].unique().tolist()
out=tree.export_graphviz(irisTree,feature_names=featureNames,out_file=dot_data, class_names= np.unique(y_trainset), filled=True,special_characters=True,rotate=False)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png(filename)
img = mpimg.imread(filename)
plt.figure(figsize=(100, 200))
plt.imshow(img,interpolation='nearest')

ValueError: Length of feature_names, 5 does not match number of features, 4

b)	Evaluate the decision Trees classifier using Jaccard index, F1- scores, and log loss metrics (12 marks)

In [97]:
# Model Evaluation
yhat_tree=irisTree.predict(X)
tree_jacc_test=metrics.jaccard_score(y, yhat_tree, average='micro')
tree_f1_test=metrics.f1_score(y, yhat_tree, average ='macro')
tree_cnf_matrix = confusion_matrix(y, yhat_tree)
print("Accuracy is ", tree_jacc_test, " F1 is" , tree_f1_test)
print(classification_report(y, yhat_tree))
tree_cnf_matrix

NameError: name 'confusion_matrix' is not defined